.contenedorPrincipal {
    background-color: #243b55;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #243b55;
    color: white;
}

.contenedorSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el contenido */
    flex-grow: 1; /* Permite que el contenedorSecundario crezca y ocupe el espacio restante */
}

.contenedorFlex {
    display: flex;
}

.contenedoresHijos {
    margin: 0 10px;
}

.nombresT {
    text-align: center;
}